<!-- <navbar></navbar>
<div class="illustration">
    <div class="left">
        <p>Get 360° solution to grow your store digitally and add personalized Motion graphics video, 3d video's and creative poster's to showcase your brand.</p>
    </div>
    <div class="right">
        <img src="../../../assets/img/offering.svg" alt="" class="illu">
    </div>
</div>
<our-offerings></our-offerings>
<footer></footer> -->
<div class="w-full grid grid-cols-3 sm:grid-cols-1 bg-[#FFF4F0]">
    <div class="col-span-2 flex justify-center items-center">
        <div class="">
            <h3 class="text-base p-4 px-12 sm:text-center">Our Offerings</h3>
            <h1 class="text-3xl font-bold p-4 px-12 sm:px-8 sm:text-justify sm:text-xl">Get 360° solution to grow your store digitally and add customised Motion graphics video, 
                3d video's and creative poster's to showcase your brand.</h1>
        </div>
    </div>
    <div class="col-span-1 p-12">
        <img class="w-full" src="../../../assets/img/our-offering.png" alt="">
    </div>
</div>

<div class="grid grid-cols-2 sm:grid-cols-1">
    <div class="p-16 sm:p-4">
        <iframe class="w-full h-full"  src="https://www.youtube.com/embed/rQE4nFyyAdM?playlist=rQE4nFyyAdM&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="flex justify-center items-center p-12">
        <div>
            <!-- <p class="text-sm">Client Case Study</p> -->
            <h1 class="text-3xl font-bold py-4 sm:text-xl sm:text-center">Differentiate the effects of simple text and our product, yourself.</h1>
            <h3 class="text-lg text-justify">The VFX Company
                We present Companies, Brands, Products
                To the target audience in the most engaging and entertaining ways:
                Motion graphics
                3d product animations
                We're just a message away 
                From you
                You're just a message away
                From the brand/product/service recognition you dreamt of. 
                Now, try the video. 
                See the magic of motion graphics video.</h3>
        </div>
    </div>
</div>

<div class="bg-ourOffering p-12">
    <div>
        <h1 class="text-center border-ourOffering text-2xl font-bold pt-16 pb-8 sm:text-xl">Explore Services</h1>
    </div>
    <div class="grid grid-cols-3 sm:grid-cols-1 p-12 sm:p-4 gap-12 sm:gap-4">
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/3dproduct.png" alt="">
            <h3 class="font-bold text-xl py-4">3D Product Visualization</h3>
            <p class="">Give a digital movement to your product and showcase it in unique way.</p>
        </div>
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/logo.png" alt="">
            <h3 class="font-bold text-xl py-4">Logo Animation</h3>
            <p class="">Create a "dynamic identification of your brand".</p>
        </div>
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/motion-graphic.png" alt="">
            <h3 class="font-bold text-xl py-4">Motion Graphics</h3>
            <p class="">Communicate with your audience by animation that will add depth to your brand.</p>
        </div>
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/poster.png" alt="">
            <h3 class="font-bold text-xl py-4">Poster Design</h3>
            <p class="">Introduce your products and business in most creative ways with our designs of posters.</p>
        </div>
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/app-development.png" alt="">
            <h3 class="font-bold text-xl py-4">App Devlopment</h3>
            <p class="">Connect fast, easy, secure with the use by developing your own business application.</p>
        </div>
        <div class="p-8 bg-white shadow-contactbox rounded-md">
            <img class="h-12" src="../../../assets/icons/offerings/website.png" alt="">
            <h3 class="font-bold text-xl py-4">Web Devlopment</h3>
            <p class="">Become an industry standard, and bring awareness of your offerings. With your own website.</p>
        </div>
    </div>
</div>