.caro-main{
    position: relative;
    display: inline-block;
    // padding-top: 3vw;
    // padding-bottom: 3vw;
    // padding-left: 7%;
    width: 100%;
    height: 32vw;
    // background-color: #dddddd;
}

.label-area{
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    // background-color: #909090;
    box-sizing: border-box;
    padding: 2vw;
}

.vert-center{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}

.primary-text{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 4.2vw;
    font-family: 'Raleway';
    font-weight: 900;
}
.impacts{
    color: #00B287;
}

.secondary-text{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.6vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: 'Raleway';
    font-weight: 500;
}

.text-3{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.6vw;
    line-height: 1.6vw;
    padding-top: 2vw;
    font-family: 'Raleway';
    font-weight: 700;
    color:#FF4500;
    cursor: pointer;
}
.right-arrow{
    // position: absolute;
    width: 2vw;
    height: 2vw;
    top: 50%;
}

.slidebuttons{
    width: 100%;
    text-align: center;
    margin-top: 5vw;
}

.slidebutton{
    font-size: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #50505080;
}

.slidebutton-act{
    color: #0A0A0A;
}

.media-area{
    position: relative;
    float: left;
    width: 55%;
    height: 100%;
    // background-color: #aaaaaa;
}

.media-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-3-mob{
    display: none;       
}

.temp{
    display: none;
}

@media screen and (max-width:600px) {
    .caro-main{
        height: auto;
        width: 100%;
        padding-left: 0;
    }
    .label-area{
        width: 100%;
        height: 45vw;
    }

    .vert-center{
        top:0;
        transform: none;
    }

    .primary-text{
        font-size: 9vw;
        text-align: center;
        line-height: 14vw;
    }

    .secondary-text{
        font-size: 4.5vw;
        text-align: center;
        padding-top: 5vw;
        padding-bottom: 2vw;
    }

    .media-area{
        width: 100%;
        height: 55vw;
    }

    .text-3{
        display: none;
    }

    .slidebuttons{
        display: none;
    }

    .temp{
        position: relative;
        float: left;
        width: 100%;
        padding-top: 7vw;
        padding-bottom: 10vw;
        display: flex;
        justify-content: center;
        height: 4vw;
    }

    .text-3-mob{
        display: block;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 4vw;
        line-height: 4vw;
        font-family: 'Raleway';
        font-weight: 700;
        color:#FF4500;
        cursor: pointer;
        // border-bottom: 0.2vw solid #FF4500;
    }

    .right-arrow-mob{
        position: relative;
        width: 4vw;
        height: 4vw;
        top: 0;
    }
}