<!-- <div class="client-main">
    <h3 class="client-head">Our Beloved Clients</h3>
    <div class="client-area">
        <img class="icon" src="../../../assets/img/clients/client1.png" alt="a" (click)="redirectToGallery('client1')">
        <img class="icon jyoti" src="../../../assets/img/clients/client2.png" alt="b" (click)="redirectToGallery('client2')">
        <img class="icon" src="../../../assets/img/clients/client3.png" alt="c" (click)="redirectToGallery('client3')">
    </div>
</div> -->
<div class="client-main">
    <div class="client-area">
        <div class="client-logo">
            <img src="../../../assets/img/clients/united-18.png" alt="">
        </div>
        <div class="client-description">
            <p>digital advertising</p>
            <h1>United 18</h1>
            <p> <a  routerLink="../our-work/united-18">visit <img src="../../../assets/icons/Vector.png" alt=""></a> </p>
        </div>
    </div>
    <div class="client-area">
        <div class="client-logo">
            <img src="../../../assets/img/clients/jyoti.png" alt="">
        </div>
        <div class="client-description">
            <p>digital advertising</p>
            <h1>Jyoti CNC</h1>
            <p> <a  routerLink="../our-work/jyoti">visit <img src="../../../assets/icons/Vector.png" alt=""></a> </p>
        </div>
    </div>
    <div class="client-area">
        <div class="client-logo">
            <img src="../../../assets/img/clients/buggie-garages.png" alt="">
        </div>
        <div class="client-description">
            <p>digital advertising</p>
            <h1>Buggie Garages</h1>
            <p> <a  routerLink="../our-work/buggie-garages">visit <img src="../../../assets/icons/Vector.png" alt=""></a> </p>
        </div>
    </div>
</div>

<div class="client-review">
    <div class="client-review-image">
        <h1>Clients love our service.</h1>
    </div>
    <div class="client-review-text">
        <div class="client-review-text-child">
            <img src="../../../assets/icons/image 13.png" alt="">
            <p>The Vfx Company team is nice and well trained. They handle the assignment very professionally. Team is awesome with result oriented. Hope we should go longer together.  Wish you good luck guy’s !!</p>
            <h1>-Buggie Garages</h1>
        </div>
    </div>
</div>