<div class="p-4">
    <div>
        <button class="bg-buggyorange p-3 rounded-lg mr-4" (click)="onCreate()">create New Client</button>
        <button class="bg-buggyorange p-3 rounded-lg" >Log Out</button>
    </div>
    <div class="p-4 my-2 grid grid-cols-1 gap-4 bg-buggyyellow rounded-lg" >
        <p>name: All</p>
        <p>Posts: <span class="mx-2" *ngFor="let item of ourPortfolioPosts"> --> {{ item }}   </span></p>
        <div>
            <button class="p-2 m-2 rounded-lg bg-buggyorange" (click)="onEditPosts()">Edit Client</button>
        </div>
    </div>
    <div class="p-4 my-2 grid grid-cols-1 gap-4 bg-buggyyellow rounded-lg" *ngFor="let item of clientData">
        <p>name: {{item.name}}</p>
        <p>img: {{item.img}}</p>
        <p>review: {{item.review}}</p>

        <p>Posts: <span class="mx-2" *ngFor="let post of item.posts"> --> {{ post }}   </span></p>
        <div>
            <button class="p-2 m-2 rounded-lg bg-buggyorange" (click)="onEdit(item)">Edit Client</button>
            <button class="p-2 m-2 rounded-lg bg-buggyorange" (click)="onDelete(item.id)">Delete Client</button>
        </div>
    </div>
</div>
