<div class="caro-main">
    <div class="label-area">
        <div class="vert-center">
            <h3 class="primary-text">Creating <span class="impacts">impacts</span><br>with our skills</h3>
            <h4 class="secondary-text">We work for brands to go digitally</h4>
            <h4 routerLink="../our-work/all" class="text-3">Our Portfolio<img class="right-arrow" src="../../../assets/icons/arrow_right_alt.svg"></h4>
        </div>
        
        <!-- <div class="slidebuttons">
            <i class="fa-solid fa-circle slidebutton" [class.slidebutton-act]="slideIndex==0" (click)="changeIndex(0)"></i>
            <i class="fa-solid fa-circle slidebutton" [class.slidebutton-act]="slideIndex==1" (click)="changeIndex(1)"></i>
            <i class="fa-solid fa-circle slidebutton" [class.slidebutton-act]="slideIndex==2" (click)="changeIndex(2)"></i>
            <i class="fa-solid fa-circle slidebutton" [class.slidebutton-act]="slideIndex==3" (click)="changeIndex(3)"></i>
        </div> -->
    </div>
    <div class="media-area">
        <!-- <img src="https://image.freepik.com/free-photo/web-design-concepts-with-blurred-background_1134-82.jpg" *ngIf="slideIndex==0" class="media-slide">
        <img src="https://image.freepik.com/free-vector/graphic-design-geometric-wallpaper_52683-34399.jpg" *ngIf="slideIndex==1" class="media-slide">
        <img src="https://image.freepik.com/free-vector/graphic-design-colorful-geometrical-lettering_52683-34588.jpg" *ngIf="slideIndex==2" class="media-slide">
        <img src="https://image.freepik.com/free-photo/creative-process-development-ideas-diagram_53876-125422.jpg" *ngIf="slideIndex==3" class="media-slide"> -->
        <!-- <video class="media-slide" autoplay loop>
            <source src="../../../assets/img/carousel/main_slide.mp4" type="video/mp4">
        </video> -->
        <img class="media-slide" src="../../../assets/img/carousel/main.gif">
    </div>
    <div class="temp" routerLink="../our-work/all">
        <h4 class="text-3-mob">Our Portfolio</h4>
        <img class="right-arrow-mob" src="../../../assets/icons/arrow_right_alt.svg">
    </div>
    
</div>