<!-- <div class="nav-body">
    <img class="logo" src="../../../assets/img/logo.png" alt="Logo" routerLink="/home">
    <button class="contact" routerLink="/contactus">Let's Talk</button>
    <div class="nav-items">
        <h3 class="nav-item" routerLink="/home">Home</h3>
        <h3 class="nav-item" routerLink="/offerings">Our Offerings
            <img class="down-arrow" src="../../../assets/icons/keyboard_arrow_down.svg">
        </h3>
        <h3 class="nav-item" routerLink="/aboutus">About Us</h3>
    </div>
</div>

<div class="nav-mob">
    <img src="../../../assets/icons/hamburger.svg" class="hamburger" (click)="toggleMenu(true)">
    <div class="logo-space">
        <img src="../../../assets/img/logo.png" alt="absdds" class="logo-mob">
    </div>
    <div class="nav-menu" *ngIf="isMenuOpen">
        <img src="../../../assets/icons/close.svg" class="hamburger" (click)="toggleMenu(false)">
        <div class="logo-space">
            <img src="../../../assets/img/logo.png" alt="absdds" class="logo-mob">
        </div>
        <div class="nav-items-mob">
            <h3 class="nav-item-mob" routerLink="/home">Home</h3>
            <h3 class="nav-item-mob" routerLink="/offerings">Our Offerings</h3>
            <h3 class="nav-item-mob" routerLink="/aboutus">About Us</h3>
            <h3 class="nav-item-mob" routerLink="/contactus">Contact Us</h3>
        </div>
    </div>
</div> -->

<div class="w-full grid grid-cols-4 bg-[#FFF4F0] shadow-md">
    <div class=" h-24 p-3  col-span-1">
        <img class="h-full" src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="flex items-center  col-span-3">
        <div class="w-1/5"></div>
        <div class="w-4/5 grid grid-cols-4 ">
            <div>
                <a class="text-lg" routerLink="/home" routerLinkActive="border-b-2 border-[#EEA900]" href="">Home</a>
            </div>
            <div>
                <a class="text-lg" routerLink="/offerings" routerLinkActive="border-b-2 border-[#EEA900]" href="">Our Offerings</a>
            </div>
            <div>
                <a class="text-lg" routerLink="/aboutus" routerLinkActive="border-b-2 border-[#EEA900]" href="">About Us</a>
            </div>
            <div>
                <a class="text-lg" routerLink="/contactus" routerLinkActive="border-b-2 border-[#EEA900]" href="">Contact Us</a>
            </div>
    
        </div>
    </div>
</div>