<!-- <div class="send-body">
    <div class="left">
        <form class="contact-form" (submit)="sendEmail($event)">
        <h3 class="label">Name</h3>
        <div class="area-temp">
            <input type="text" [(ngModel)]="name" name="name" class="input-text">
            <img src="../../../assets/icons/form/name.svg" class="icon">
        </div>
        <h3 class="label">Email Id</h3>
        <div class="area-temp">
            <input type="text" [(ngModel)]="email" name="email" class="input-text">
            <img src="../../../assets/icons/form/email.svg" class="icon">
        </div>
        <h3 class="label">Message</h3>
        <div class="area-temp2">
            <textarea name="message" [(ngModel)]="message" class="input-area"></textarea>
            <img src="../../../assets/icons/form/edit.svg" class="edit-ico">
        </div>
        <input [disabled]="successStatus" [ngClass]="{'cursor-not-allowed': successStatus}" type="submit" class="send" value="SEND OVER">
        <p *ngIf="successStatus"  class="inline-block p-4 text-green-900 success status"><i class="far fa-check-circle"></i> message sent successfully</p>
        <p *ngIf="!successStatus && error !== ''" class="inline-block p-4 text-red-700 error status">failed. {{ error }}</p>

        </form>
    </div>
    <div class="right">
        <img src="../../../assets/img/contact.gif" class="contact-img">
    </div>
</div> -->

