<navbar></navbar>
<div class="main">
        <div class="column" *ngIf="dataFlag=='united-18'">
                <iframe  src="https://www.youtube.com/embed/M9oR5xUzZBQ?playlist=M9oR5xUzZBQ&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column portrait" *ngIf="dataFlag=='united-18'">
                <img src="../../../assets/img/clients/united-18/TVC-Navratri-imresizer.jpg" alt="">
        </div>
        <div class="column portrait" *ngIf="dataFlag=='united-18'">
                <img src="../../../assets/img/clients/united-18/United Poster-Recovered-2-imresizer.jpg" alt="">
        </div>
        <div class="column portrait" *ngIf="dataFlag=='united-18'">
                <img src="../../../assets/img/clients/united-18/United Poster-RecoveredArtboard 2 (2).jpg" alt="">
        </div>
        <div class="column" *ngIf="dataFlag=='united-18'">
                <iframe  src="https://www.youtube.com/embed/O5g9uVWLhLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- <div class="column square" *ngIf="dataFlag=='jyoti'">
                <img src="../../../assets/img/clients/jyoti/United 18 2-2 (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='jyoti'">
                <img src="../../../assets/img/clients/jyoti/United 18 3-2 (1).jpg" alt="">
        </div>
        <div class="column portrait" *ngIf="dataFlag=='jyoti'">
                <img src="../../../assets/img/clients/jyoti/United Poster (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='jyoti'">
                <img src="../../../assets/img/clients/jyoti/United 18 4-1 (1).jpg" alt="">
        </div> -->


        <div class="column" *ngIf="dataFlag=='jyoti'">
                <iframe src="https://www.youtube.com/embed/LTtDotJCvbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column" *ngIf="dataFlag=='jyoti'">
                <iframe src="https://www.youtube.com/embed/3cfnTuXIgsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>
        <div class="column" *ngIf="dataFlag=='jyoti'">
                <iframe src="https://www.youtube.com/embed/4PqBndEDhQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>




        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/1.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/2.jpg" alt="">
        </div>
        <div class="column" *ngIf="dataFlag=='buggie-garages'">
                <iframe src="https://www.youtube.com/embed/emCYkkSAosY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column" *ngIf="dataFlag=='buggie-garages'">
                <iframe src="https://www.youtube.com/embed/PwZpyAlKZtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <div class="column" *ngIf="dataFlag=='buggie-garages'">
                <iframe src="https://www.youtube.com/embed/JKX5JMz0l5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>

        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/3.png" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/4.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/5.png" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/6.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/7.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/8.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/9.jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='buggie-garages'">
                <img src="../../../assets/img/clients/buggie-garages/10.jpg" alt="">
        </div>


        <!-- <div class="column"></div>
        <div class="column"></div>
        <div class="column portrait"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div> -->
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/designer_0000_Group 2 copy (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/designer_0001_pizza copy (1).jpg" alt="">
        </div>
        <div class="column portrait" *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/CNjlbNia9Oc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column portrait" *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/aZjxm1Z6XN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- <div class="column " *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/IR7aYSK_U-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe src="https://www.youtube.com/embed/XGOmclx0u10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>

        <div class="column " *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/JJKR5j15jqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column portrait" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/IMG-20211003-WA0002.jpg" alt="">
        </div>
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/M9oR5xUzZBQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe src="https://www.youtube.com/embed/86Naz3Zely4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column portrait" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/United Poster-RecoveredArtboard 2 (2).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/TVC IG Poster 2 (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/United 18 2-2 (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/United 18 3-2 (1).jpg" alt="">
        </div>
        <div class="column square" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/United 18 4-1 (1).jpg" alt="">
        </div>
        <div class="column portrait" *ngIf="dataFlag=='all'">
                <img src="../../../assets/img/clients/all/United Poster (1).jpg" alt="">
        </div>
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe  src="https://www.youtube.com/embed/O5g9uVWLhLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe src="https://www.youtube.com/embed/PwZpyAlKZtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>
        <div class="column " *ngIf="dataFlag=='all'">
                <iframe src="https://www.youtube.com/embed/JKX5JMz0l5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>

        <!-- <div class="column " *ngIf="dataFlag=='all'"></div>
        <div class="column " *ngIf="dataFlag=='all'"></div> -->

</div>

<footer></footer>