<h1 class="text-4xl font-semibold text-center py-8">Our Portfolio</h1>

<div class="min-h-screen min-w-full">
        <div class=" grid grid-cols-2  p-24 sm:p-2 gap-8 sm:gap-2">
                <div class="h-80 sm:h-[100px] rounded-2xl sm:rounded-md" *ngFor="let item of ourPortfolioPosts; let i = index" [ngClass]="{' row-span-2 col-span-2 h-[480px] sm:h-[200px]': (i+1)%3 == 0}">
                        <iframe class=" w-full h-full rounded-2xl sm:rounded-md"  [src]="getLink(item) | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>
</div>
