.cards{
    display: inline-block;
    position: relative;
    width:80%;
    margin-top: 3vw;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    // background-color: pink;
}

.title{
    margin: 0;
    padding: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Inter';
    font-weight: 700;
}

.card{
    position: relative;
    float: left;
    background-color: #FFF4F0;
    width: 28%;
    height: auto;
    min-height: 14vw;
    margin-left: calc(16% / 6);
    margin-right: calc(16% / 6);
    margin-bottom: 2vw;
    border-radius: 2vw;
    overflow: hidden;
}

// .card-image{
//     position: relative;
//     float: left;
//     // background-color: #FFF4F0;
//     width: 100%;
//     height: 2vw;
// }

.image{
    position: relative;
    height: 2.5vw;
    min-width: 2.5vw;
    padding-left: 2vw;
    padding-top: 2vw;
}

.card-heading{
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 3vw;
    line-height: 3vw;
    vertical-align: middle;
    font-size: 1.2vw;
    color: #0A0A0A;
    font-family: 'Inter';
    font-weight: 700;
    padding-left: 2vw;
}

.card-text{
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 1.2vw;
    line-height: 1.2vw;
    vertical-align: middle;
    font-size: 1vw;
    color: #0A0A0A;
    font-family: 'Inter';
    font-weight: 400;
    padding-left: 2vw;
    padding-right: 2vw;
}

.arrow{
    position: absolute;
    right: 1vw;
    bottom: 0;
    margin-top: 0.9vw;
    margin-bottom: 0.9vw;
    width: 1.2vw;
    height: 1.2vw;
}

@media screen and (max-width:600px) {
    .title{
        font-size: 5vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    .card{
        width: 100%;
        height: 45vw;
        border-radius: 5vw;
        margin-bottom: 5vw;
        margin-left: 0;
        margin-right: 0;
    }


    .image{
        position: relative;
        height: 5vw;
        min-width: 5vw;
        padding-left: 5vw;
        padding-top: 5vw;
    }
    

    .card-heading{
        height: 10vw;
        line-height: 10vw;
        font-size: 3.5vw;
        padding-left: 5vw;
    }

    .card-text{
        height: 5vw;
        line-height: 5vw;
        font-size: 3.5vw;
        padding-left: 5vw;
    }

}
