    <navbar></navbar>
<div class="illustration">
    <!-- <p class="title">illustration about contacting us</p> -->
    <div class="left">
        <p>Contact</p>
    </div>
    <div class="right">
        <p>Want to work with us? Fill up the form below. Our team will get back to you within 24 ours.</p>
    </div>
    <div class="triangle">
        <img src="../../../assets/icons/triangle.png" alt="">
    </div>
</div>
<h3 class="touch">Get in touch!</h3>
<send-email></send-email>
<footer></footer>