<div class="w-full font-['Poppins']">
  <div class="relative sm:hidden">
    <div
      class="z-[-9] h-full absolute top-0 left-0 w-3/4 bg-cover bg-no-repeat bg-center"
    >
      <img
        class="w-full h-full"
        src="../../../assets/img/Shape Background.png"
        alt=""
      />
    </div>
    <div class="h-full w-full grid grid-cols-7">
      <div class="col-span-4 flex items-center p-8">
        <div class="">
          <div class="text-6xl text-[#333333]">
            Scroll through and know more about what we do.
          </div>
          <p class="text-base my-8">
            We're here to let you know all about our methods and their
            significance in detail.
          </p>
          <div class="w-3/5 grid grid-cols-4">
            <div class="p-4">
              <a href="https://www.facebook.com/thevfxcompany/">
                <img
                  class="w-full p-4"
                  src="../../../assets/icons/Fb.png"
                  alt=""
                />
              </a>
            </div>
            <div class="p-4">
              <a href="https://www.instagram.com/the_vfxcompany/">
                <img
                  class="w-full p-4"
                  src="../../../assets/icons/Ig.png"
                  alt=""
                />
              </a>
            </div>
            <div class="p-4">
              <a href="https://www.facebook.com/thevfxcompany/">
                <img
                  class="w-full p-4"
                  src="../../../assets/icons/Tw.png"
                  alt=""
                />
              </a>
            </div>
            <div class="p-4">
              <a
                href="https://www.youtube.com/channel/UCWgoITeJ-47VLHfbJacRjpw"
              >
                <img
                  class="w-full p-4"
                  src="../../../assets/icons/Yt.png"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-3 p-20 relative">
        <div class="mr-20 relative">
          <img
            class="w-full"
            src="../../../assets/img/400x480 Illustration 2.png"
            alt=""
          />
          <div
            class="absolute w-1/2 top-0 left-[80%] bg-white p-4 rounded-lg shadow-md"
          >
            <img class="w-full p-2" src="../../../assets/img/22 1.png" alt="" />
            <p class="text-xs">
              74% of respondents buy a product after viewing a video.
            </p>
          </div>
          <div
            class="w-full absolute top-[90%] right-[50%] flex items-center p-4 bg-white shadow-md rounded-md"
          >
            <img
              class="w-[20%] p-2"
              src="../../../assets/img/Untitled-1 1.png"
              alt=""
            />
            <p class="w-[80%] text-xs p-2">
              65% of online researchers visit a brand website and 39% call the
              brand after watching their videos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#FFF4F0] hidden sm:block p-8">
    <div class="">
      <p class="text-3xl font-bold">
        Scroll through and know more about what we do.
      </p>
      <p class="text-xl my-4">
        We're here to let you know all about our methods and their significance
        in detail.
      </p>
    </div>
    <div>
      <img src="../../../assets/img/400x480 Illustration 2.png" alt="" />
    </div>
    <div class="grid grid-cols-4 m-4">
      <div class="">
        <a href="https://www.facebook.com/thevfxcompany/">
          <img class="w-full p-4" src="../../../assets/icons/Fb.png" alt="" />
        </a>
      </div>
      <div class="">
        <a href="https://www.instagram.com/the_vfxcompany/">
          <img class="w-full p-4" src="../../../assets/icons/Ig.png" alt="" />
        </a>
      </div>
      <div class="">
        <a href="https://www.youtube.com/channel/UCWgoITeJ-47VLHfbJacRjpw">
          <img class="w-full p-4" src="../../../assets/icons/Tw.png" alt="" />
        </a>
      </div>
      <div class="">
        <a href="https://www.youtube.com/channel/UCWgoITeJ-47VLHfbJacRjpw">
          <img class="w-full p-4" src="../../../assets/icons/Yt.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-5 sm:grid-cols-1">
    <div class="hidden sm:block p-8">
      <img class="w-full" src="../../../assets/img/Group 1875.png" alt="" />
    </div>

    <div class="col-span-2 p-16 sm:p-8 flex items-center">
      <div class="">
        <div class="text-3xl font-bold">
          How to use Motion Graphics to YOUR Brand’s advantage?
        </div>
        <div class="text-lg font-semibold my-4">May 25, 2022</div>
        <div>
          From the last blog, it’s quite clear that marketers, today, are in
          their initial stage of going gaga over the tool of motion graphics.
          That only means that this tool is going to play a very important role
          in the world of influence, propagation and promotion in the upcoming..
          See more
          <div class="text-[#3ED1BA]"><a href="">see more</a></div>
        </div>
      </div>
    </div>
    <div class="col-span-3 p-16 sm:hidden">
      <img class="w-full" src="../../../assets/img/Group 1875.png" alt="" />
    </div>
  </div>
  <div class="relative">
    <div
      class="z-[-9] h-full absolute flex justify-center items-center top-100 left-0 w-full bg-cover bg-no-repeat bg-center bg-[#E5E5E5]/30"
    >
      <img class="w-full" src="../../../assets/img/blog-list-bg.png" alt="" />
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-1 p-24 m-24 sm:p-8 gap-12">
      <div class="p-8 bg-white">
        <div class="bg-[#E2E2E2] my-4">
          <img
            src="../../../assets/img/Blog Illustration 560x440 1.png"
            alt=""
          />
        </div>
        <div class="font-bold text-3xl sm:text-xl">
          How to use Motion Graphics to YOUR Brand’s advantage?
        </div>
        <div class="font-semibold text-base my-4">15 February 2020</div>
        <div class="font-normal">
          From the last blog, it’s quite clear that marketers, today, are in
          their initial stage of going gaga over the tool of motion graphics.
          That only means that this tool is going to play a very important role
          in the world of influence, propagation and promotion in the upcoming..
        </div>
        <div class="text-[#3ED1BA]"><a href="">see more</a></div>
      </div>
      <div class="p-8 bg-white">
        <div class="bg-[#E2E2E2] my-4">
          <img
            src="../../../assets/img/Blog Illustration 2 560x440 1.png"
            alt=""
          />
        </div>
        <div class="font-bold text-3xl sm:text-xl">
          What’s the most efficient solution for hooking your target audience?
        </div>
        <div class="font-semibold text-base my-4">15 February 2020</div>
        <div class="font-normal">
          If you’re reading this blog, I assume you’re not satisfied with your
          company’s engagement with your target audience or you want to increase
          it positively or both. Searching on Google, there are so many ways you
          can find to help it. I’m going to narrow it all...
        </div>
        <div class="text-[#3ED1BA]"><a href="">see more</a></div>
      </div>
    </div>
  </div>
  <div class="grid auto-rows-auto grid-cols-5 bg-[#E5E5E5]/30 sm:hidden">
    <div class="p-16 flex items-center col-span-2">
      <div class="w-full">
        <div class="text-5xl font-bold">Latest from Instagram</div>
        <div class="text-base font-normal my-8">
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews. Iterative approaches to corporate strategy.
        </div>
        <button class="bg-[#F98174] rounded-lg text-white p-4">
          Follow Our Instagram
        </button>
      </div>
    </div>
    <div class="col-span-3 h-full p-16">
      <div class="grid grid-cols-2 gap-2 h-full w-full">
        <div class="bg-[#E2E2E2]">
          <img
            src="../../../assets/img/Blog Illustration 560x440 1.png"
            alt=""
          />
        </div>
        <div class="bg-[#E2E2E2]">
          <img
            src="../../../assets/img/Blog Illustration 560x440 1.png"
            alt=""
          />
        </div>
        <div class="bg-[#E2E2E2]">
          <img
            src="../../../assets/img/Blog Illustration 560x440 1.png"
            alt=""
          />
        </div>
        <div class="bg-[#E2E2E2]">
          <img
            src="../../../assets/img/Blog Illustration 560x440 1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="hidden sm:block p-8">
    <div class="text-2xl font-bold">Latest from Instagram</div>
    <div class="text-base font-normal my-4">
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy.
    </div>
    <div class="grid grid-cols-2 gap-2 h-full w-full">
      <div class="bg-[#E2E2E2]">
        <img src="../../../assets/img/Blog Illustration 560x440 1.png" alt="" />
      </div>
      <div class="bg-[#E2E2E2]">
        <img src="../../../assets/img/Blog Illustration 560x440 1.png" alt="" />
      </div>
      <div class="bg-[#E2E2E2]">
        <img src="../../../assets/img/Blog Illustration 560x440 1.png" alt="" />
      </div>
      <div class="bg-[#E2E2E2]">
        <img src="../../../assets/img/Blog Illustration 560x440 1.png" alt="" />
      </div>
    </div>
    <div class="text-center">
      <button class="bg-[#F98174] rounded-lg text-white p-3 m-4">
        Follow Our Instagram
      </button>
    </div>
  </div>
</div>
